h2 {font-size:100px;}


.resume-biography{
	gap:8em;
	justify-content: center;
}


.bio-text h2{
	font-size: 2.2em;
}

.bio-text p{
	font-size: 1.2em;
	font-family: Georgia, serif;
	color:white;
	line-height: 1.65;
}

.resume-biography .bio-text{
	max-width: 80ch;
	margin-top: -4em;
	font-family: Georgia, serif;
}	

.resume-biography .avatar{
	max-width: 260px;
	max-height: 260px;
}

.portrait-title{
	font-family: Georgia, serif;
}

.resume-biography #profile{
	margin-left: -4em;
	margin-top: -3em;
/*	box-shadow: 0px 10px 25px 0px rgb(0 0 0 / 1);*/
	padding:20px 40px;
/*	border-radius: 0.6rem;*/
/*	background-image: linear-gradient(to bottom, rgb(255 255 255 / 0.2), rgb(255 255 255 / 0));*/
	height: 600px;
	position: bottom;

}

.max-w-prose{
	max-width:80ch;
}

.resume-biography{
	margin-right: 0em;
	align-items: stretch;
	margin-bottom: 0em;
	margin-top: -2em;
}




.prose{
	max-width: 80ch;
}

.home-section-bg{
  background-image: url('./media/ocean.jpg');
  background-color: rgb(245,242,233);
}

.flex-auto.max-w-prose{
	margin-top: 2em;
}

.grid.grid-cols-2.gap-4.justify-between{
	gap:1px;
}

.avatar-wrapper{
	width:160;
	height:160;
	margin-top: -4em;
}



.page-body #section-markdown{
	background-color: rgb(245,242,233);
}

.page-body #papers{
	background-color: rgb(245,242,233);
}

.page-body #section-collection{
	background-color: rgb(245,242,233);
}

.page-body #talks{
	background-color: rgb(245,242,233);
}

.page-body #news{
	background-color: rgb(245,242,233);
}

.page-footer{
	background-color: rgb(245,242,233);
}